<li><a href="../">首 页</a></li>
<li><a href="../">项目推广</a>
      <ul>
        <li><a href="#">项目规划</a></li>
        <li><a href="#">宣传片</a></li>
        <li><a href="#">实景照</a></li>
      </ul>
</li>
<li><a href="/team/goods.php">热销楼盘</a></li>
<li><a href="../">在线认筹</a></li>
<li><a href="../">投票互动</a></li>
<li><a href="">楼盘对比</a></li>
<li><a href="/vote/index.php">调研中心</a></li>
<li>
	<a href="/vote/index.php">价格筛选</a>
      <ul class="subnav w100">
        <li><a href="/team/Price_fl.php?Price=0" >4000元/㎡以下</a> </li>
        <li><a href="/team/Price_fl.php?Price=1" >4000-5000元/㎡ </a> </li>
        <li><a href="/team/Price_fl.php?Price=2" >5000-6000元/㎡ </a> </li>
		<li><a href="/team/Price_fl.php?Price=3" >6000-7000元/㎡ </a> </li>
		<li><a href="/team/Price_fl.php?Price=4" >7000-8000元/㎡ </a></li>
		<li><a href="/team/Price_fl.php?Price=6" >9000-10000元/㎡ </a></li>
		<li><a href="/team/Price_fl.php?Price=7" >10000元/㎡以上</a></li>
		<li><a href="/team/Price_fl.php" >全部</a></li>
      </ul>
</li>
<li>
	<a href="/vote/index.php">区域筛选</a>
	<ul class="subnav w60">
	<li class="all"><a class="cur" href="/fangtuanzhang/">全部</a></li>

	<li>
	<a href="/fangtuanzhang/index.php?gid=2">城东</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=3">城西</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=4">城南</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=5">城北</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=6">城内</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=7">高新</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=8">曲江</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=9">浐灞</a>
	</li>
	<li>
	<a href="/fangtuanzhang/index.php?gid=10">经开</a>
	</li>
	<li>
	<a href="/index.php?gid=11">大兴新区</span></a>
	</li>
	<li>
	<a href="/index.php?gid=12">西咸新区</span></a>
	</li>
	</ul>
</li>

<li style="position:absolute;right:50px;">
	<a href="/account/login.php">团员登录</a>
	<ul class="subnav" style="position:absolute;left:0;">
	<!--{if $login_user}-->
		<li class="username">欢迎您，${mb_strimwidth($login_user['username'],0,10)}！</li>
		<li class="account"><a href="/order/index.php" id="myaccount" class="account">我的{$INI['system']['abbreviation']}</a></li>
		<li class="logout"><a href="/account/logout.php">退出</a></li>
	<!--{else}-->
		<li><a href="/account/login.php">登录</a></li>
		<li><a href="/account/signup.php">注册</a></li>
	<!--{/if}-->
		<li><a href="/subscribe.php">邮件订阅</a></li>
		<li><a class="sms" onclick="X.miscajax('sms','subscribe');">短信订阅</a></li>
	</ul>
</li>