<div class="sbox">
<a href="/about/job.php" target="_blank">
<img src="../static/img/zhaopin.jpg" width="230" height="85" alt="flash广告图片" /></a><br><br>
</div>
<div class="sbox side-business-tip">
	<div class="sbox-bubble"></div>
	<div><IMG src="/static/css/i/hezuo.gif" width=230></div>
	<div class="sbox-content">
		<div class="tip">
		   <p class="text">希望在{$INI['system']['sitename']}组织团购么？请<a href="/feedback/seller.php">提交团购信息</a></p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
