<div class="sbox side-box">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip socialn">
			<h2>关注我们</h2>
			<ul>
				<li><a target="_blank" href="http://t.sina.com.cn/2134187127"><span class="n">{$INI['system']['abbreviation']}的新浪微博</span></a></li>
				<li><a target="_blank" href="http://www.kaixin001.com/zuile""><span class="m">{$INI['system']['abbreviation']}的开心主页</span></a></li>
				<li class="last"><a target="_blank" href="http://t.qq.com/zuilecn"><span class="j">{$INI['system']['abbreviation']}的腾讯微博</span></a></li>
			</ul>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
