<!--{include html_header}-->

<div id="hdw">
	<div id="hd">

       <div id="top-banner" style="width:950px;">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width= width="99%" height="60">
		  <param name="movie" value="/static/ad/长兴.swf" />
		  <param name="quality" value="high" />
		  <embed src="/static/ad/长兴.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="99%" height="60"></embed>
		</object>

		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width= width="99%" height="60">
		  <param name="movie" value="/static/ad/国际城.swf" />
		  <param name="quality" value="high" />
		  <embed src="/static/ad/国际城.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="99%" height="60"></embed>
		</object>
	   </div>

	   <div id="top">
			<a href="/index.php" class="link"><img src="/static/css/i/logo.gif" alt="{$INI['system']['sitename']}" /></a>
		
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width= width="740" height="70" id="top-left-banner">
		  <param name="movie" value="/static/ad/梧桐苑.swf" />
		  <param name="quality" value="high" />
		  <embed src="/static/ad/梧桐苑.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="740" height="70"></embed>
		</object>
	   </div>

		<ul id="menu"><!--{include block_navigator}--></ul>
    

		<div class="logins">
		<!--{if $login_user}-->
			<ul class="links">
				<li class="username">欢迎您，${mb_strimwidth($login_user['username'],0,10)}！</li>
				<li class="account"><a href="/order/index.php" id="myaccount" class="account">我的{$INI['system']['abbreviation']}</a></li>
				<li class="logout"><a href="/account/logout.php">退出</a></li>
			</ul>
		<!--{else}-->
			<ul class="links">
				<li class="login"><a href="/account/login.php">登录</a></li>
				<li class="signup"><a href="/account/signup.php">注册</a></li>
			</ul>
		<!--{/if}-->
			<div class="line islogin"></div>
		</div>
	<!--{if $login_user}-->
		<ul id="myaccount-menu">${current_account(null)}</ul>
	<!--{/if}-->
	</div>
</div>


<!--{if $session_notice=Session::Get('notice',true)}-->
<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p><span class="close">关闭</span></div></div> 
<!--{/if}-->
<!--{if $session_notice=Session::Get('error',true)}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">关闭</span></div></div> 
<!--{/if}-->

<div id="searchBar">
      <dl id="businessBar">
        <dd>
          <div class="business">
          <a>按价格筛选： </a>
          <a href="/team/Price_fl.php?Price=0" >4000元/㎡ 以下</a> 
          <a href="/team/Price_fl.php?Price=1" >4000-5000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=2" >5000-6000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=3" >6000-7000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=4" >7000-8000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=6" >9000-10000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=7" >10000元/㎡ 以上</a> 
          <a href="/team/Price_fl.php" >全部</a> 

          </div>
        </dd>
      </dl>
</div>
