<!--{include html_header}-->

<div id="hdw">
	<div id="hd">

       <div id="top-banner" style="width:950px;">
		 <embed src="/static/ad/changxing.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="940" height="60"></embed>

		<embed width="940" height="65" id="undefined" plugspace="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="opaque" quality="autohigh" src="/static/ad/guojicheng.swf">
	   </div>

	   <div id="top">
			<a href="/index.php" class="link"><img src="/static/css/i/logo.gif" alt="{$INI['system']['sitename']}" /></a>
		
		  <embed src="/static/ad/wutongyuan.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="690" height="60" id="top-left-banner"></embed>
	   </div>

		<ul id="menu"><!--{include block_navigator}--></ul>
    

		<div class="logins">
		<!--{if $login_user}-->
			<ul class="links">
				<li class="username">欢迎您，${mb_strimwidth($login_user['username'],0,10)}！</li>
				<li class="account"><a href="/order/index.php" id="myaccount" class="account">我的{$INI['system']['abbreviation']}</a></li>
				<li class="logout"><a href="/account/logout.php">退出</a></li>
			</ul>
		<!--{else}-->
			<ul class="links">
				<li class="login"><a href="/account/login.php">登录</a></li>
				<li class="signup"><a href="/account/signup.php">注册</a></li>
			</ul>
		<!--{/if}-->
			<div class="line islogin"></div>
		</div>
	<!--{if $login_user}-->
		<ul id="myaccount-menu">${current_account(null)}</ul>
	<!--{/if}-->
	</div>
</div>


<!--{if $session_notice=Session::Get('notice',true)}-->
<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p><span class="close">关闭</span></div></div> 
<!--{/if}-->
<!--{if $session_notice=Session::Get('error',true)}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">关闭</span></div></div> 
<!--{/if}-->

<div id="searchBar">
      <dl id="businessBar">
        <dd>
          <div class="business">
          <a>按价格筛选： </a>
          <a href="/team/Price_fl.php?Price=0" >4000元/㎡ 以下</a> 
          <a href="/team/Price_fl.php?Price=1" >4000-5000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=2" >5000-6000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=3" >6000-7000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=4" >7000-8000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=6" >9000-10000元/㎡ </a> 
          <a href="/team/Price_fl.php?Price=7" >10000元/㎡ 以上</a> 
          <a href="/team/Price_fl.php" >全部</a> 

          </div>
        </dd>
      </dl>
</div>
