</div>

<div id="quickNav" class="quick-nav">
<embed src="/static/ad/wanxianghui.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="150" height="330"></embed>
</div>
<div id="rightad" class="rightad">
<embed src="/static/ad/rx.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="150" height="40"></embed>
</div>
<script type="text/javascript">
jQuery(function(){
$('#quickNav').addClass('qn-big');
function adjust(){
if ($(window).width() > 1024 + 60) {
$('#quickNav').removeClass('qn-slow');
}
else {
$('#quickNav').addClass('qn-slow');
}
}
$(window).resize(function(){
adjust()
})
adjust()
})
</script>
</body>
</html>
