<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="recent-deals" style="width:960px; padding-bottom:20px;">

   <div id="content" style="width:950px; ">
<div class="box">

 <div class="head"><h2>根据价格 {$Price_qu} 筛选结果： </h2></div>

<ul class="Price-list">
<!--{loop $goods $index $one}-->
<div class="item odd">
<!--城市ico-->
<div class="cityIco1"><img src="/static/img/Ico/{$one['group_id']}.png"/></div>
<!--城市end-->
<div style="height:50px;overflow:hidden;"><a href="/team.php?id={$one['id']}">{$one['title']}</a></div>
<div class="cover">
<!-- {if $detail[$team['id']]['is_today']} -->
<a class="new pngfix" title="点击查看详情" href="/team.php?id={$one['id']}" rel="nofollow"></a>
<!-- {/if} -->
<a title="{$one['title']}" href="/team.php?id={$one['id']}" rel="nofollow"><img src="${team_image($one['image'])}" width="290"  title="点击查看详情" alt=""></a>
</div>
					<div class="inner">
						<div class="deal-buy">
							<div class="deal-price-tag-open"></div>
							<div class="deal-price-tag"></div>
							<p class="deal-price"><strong>{$currency}${moneyit($one['team_price'])}</strong><span><a href="/team.php?id={$team['id']}" rel="nofollow"></a></span> </p>
						</div>
						<table class="discount"><tbody>
							
								<th style="font-size:11px">原均价</th>
								<td ><del><strong>{$currency}${moneyit($one['market_price'])}</strong></del></td>
							</tr>
							
                            <tr>
								<th style="font-size:11px">现起价</th>
								<td class="price"><strong>{$currency}${moneyit($one['team_price'])}</strong></td>

							<tr>
                            </tr>
                            	<tr height="10">
								<th>&nbsp;</th>
								<td>&nbsp;</td>
							</tr>
						</tbody></table>
						
						
					</div>
				</div>
					<!--{/loop}-->
					</ul>
					<div class="clear"></div>
					<div style=" width:863px; margin-left:auto; margin-right:auto;">{$pagestring}</div>
				
           
            
        </div>
    </div>

</div>
    </div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
