<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<!--{if $team['close_time']}-->
<div id="sysmsg-tip" class="sysmsg-tip-deal-close"><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content"><div class="deal-close"><div class="focus">抱歉，您来晚了，<br />团购已经结束啦。</div><div id="tip-deal-subscribe-body" class="body"><form id="tip-deal-subscribe-form" method="post" action="/subscribe.php" class="validator"><table><tr><td>不想错过明天的团购？立刻订阅每日最新团购信息：&nbsp;</td><td><input type="text" name="email" class="f-text" value="" require="true" datatype="email" /></td><td>&nbsp;<input class="commit" type="submit" value="订阅" /></td></tr></table></form></div></div><span id="sysmsg-tip-close" class="sysmsg-tip-close">关闭</span></div><div class="sysmsg-tip-bottom"></div></div>
<!--{/if}-->

<!--{if $order}-->
<div id="sysmsg-tip" ><div class="sysmsg-tip-top"></div><div class="sysmsg-tip-content">您已经下过订单，但还没有付款。<a href="/order/check.php?id={$order['id']}">查看订单并付款</a><span id="sysmsg-tip-close" class="sysmsg-tip-close">关闭</span></div><div class="sysmsg-tip-bottom"></div></div><div id="deal-default"> 
<!--{/if}-->

	<div id="deal-default">
		<div id="content" style="width:960px; ">
		
		<!-- {if $first_big} -->
			<div class="primary">
				<h1><a href="/team.php?id={$first['id']}">{$first['title']}</a></h1>
				<div class="main">
					<div class="deal-buy">
						<div class="deal-price-tag-open"></div>
						<p class="deal-price"><strong>{$currency}${moneyit($first['team_price'])}</strong><span><a href="/team.php?id={$first['id']}" rel="nofollow"></a></span> </p>
					</div>
					<table class="discount"><tbody>
						<tr>
							<th>原价</th>
							<th>现价</th>
							<th>节省</th>
						</tr>
						<tr class="number">
							<td><del>{$currency}${moneyit($first['market_price'])}</del></td>
								<td >{$currency}${moneyit($first['team_price'])}</td>
							<td>{$currency}${moneyit($first['market_price']-$first['team_price'])}</td>
						</tr>
						<tr>
							<td class="status-box" colspan="3">
								<!--div id="deal-status-147271" class=" deal-status deal-status-open"><p class="deal-buy-tip-top"><strong>{$first['now_number']}</strong> 人已购买</p></div-->
								<div id="deal-timeleftfirst" curtime="{$now}000" diff="{$detail[$first['id']]['diff_time']}000" class="item-time">
								<ul id="counterfirst">
									<!--{if $detail[$first['id']]['left_day']>0}-->
									<li><span>{$detail[$first['id']]['left_day']}</span>天</li><li><span>{$detail[$first['id']]['left_hour']}</span>小时</li><li><span>{$detail[$first['id']]['left_minute']}</span>分钟</li>
									<!--{else}-->
										<li><span>{$detail[$first['id']]['left_hour']}</span>小时</li><li><span>{$detail[$first['id']]['left_minute']}</span>分钟</li><li><span>{$detail[$first['id']]['left_time']}</span>秒</li>
									<!--{/if}-->
								</ul>
								</div>
							</td>
						</tr>
					</tbody></table>
				</div>
				<div class="sidebar">

					<div class="cover">
						<a title="" href="/team.php?id={$first['id']}" rel="nofollow">
						<img src="${team_image($first['image'])}" alt="{$first['title']}" title="点击查看详情"></a>
						</div>
				</div>
			</div>
			<script>window.x_init_hook_multiclockfirst = function(){X.misc.multiclock('deal-timeleftfirst', 'counterfirst');};</script>
		<!-- {/if} -->
			
			<div class="secondary ">
			<!--{loop $teams $tindex $team}-->
<div class="item <!-- {if $tindex%2 == 0} -->odd<!-- {/if} --> ">
<!--城市ico-->
<div class="cityIco1"><img src="/static/img/Ico/{$team['group_id']}.png"/></div>
<!--城市end-->

<h1>
<a href="/team.php?id={$team['id']}"><!--{if $team['logo']}--><img src="${team_image($team['logo'])}" alt="{$team['title']}" style="vertical-align:middle;" /><!--{else}-->{$team['title']}<!--{/if}--></a>
</h1>

<div class="cover">

<a title="{$team['title']}" href="/team.php?id={$team['id']}" rel="nofollow"><img src="${team_image($team['image'])}" width="290"  title="点击查看详情" alt="" ></a>
</div>
<div class="inner">
						<div class="deal-buy">
							<div class="deal-price-tag-open"></div>
							<div class="deal-price-tag"></div>
							<p class="deal-price"><strong>{$currency}${moneyit($team['team_price'])}</strong><span><a href="/team.php?id={$team['id']}" rel="nofollow"></a></span> </p>
						</div>
						<table class="discount"><tbody>
							
								<th style="font-size:11px">原均价</th>
								<td ><del><strong>{$currency}${moneyit($team['market_price'])}</strong></del></td>
							</tr>
							
                            <tr>
								<th style="font-size:11px">现起价</th>
								<td class="price"><strong>{$currency}${moneyit($team['team_price'])}</strong></td>

							<tr>
                            </tr>
                            	<tr height="10">
								<th>&nbsp;</th>
								<td>&nbsp;</td>
							</tr>
						</tbody></table>
						<!--div  id="deal-timeleft{$tindex}" curtime="{$now}000" diff="{$detail[$team['id']]['diff_time']}000" class="item-time">
							<ul id="counter{$tindex}">
							<!--{if $detail[$team['id']]['left_day']>0}-->
								<li><span>{$detail[$team['id']]['left_day']}</span>天</li><li><span>{$detail[$team['id']]['left_hour']}</span>小时</li><li><span>{$detail[$team['id']]['left_minute']}</span>分钟</li>
							<!--{else}-->
								<li><span>{$detail[$team['id']]['left_hour']}</span>小时</li><li><span>{$detail[$team['id']]['left_minute']}</span>分钟</li><li><span>{$detail[$team['id']]['left_time']}</span>秒</li>
							<!--{/if}-->
							</ul>
						</div-->
						
					</div>
				</div>
				<script>window.x_init_hook_multiclock{$tindex} = function(){X.misc.multiclock('deal-timeleft{$tindex}', 'counter{$tindex}');};</script>
			<!-- {/loop} -->
			</div>
		</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
<!--{include footer}-->